In [2]:
!pip install exbook

Requirement already satisfied: exbook in c:\users\pipio\anaconda3\lib\site-packages (0.0.3)

In [7]:
from exbook import book as eb
len(eb)

36

In [3]:
print(eb[18])

Create a function to convert a list of scores to grades. Grade "A" accounts
for scores no lower than 90; grade "B" accounts for scores between 80 to 89;
and grade "C" accounts for scores between 70 and 79; scores lower than 70
are recorded as "D". For example, if the input is [85.5, 92, 45, 74, 79],
then the output is ["B", "A", "D", "C", "C"].

                   Input1: list               Output: list
Test 1:  [85.5, 92, 45, 74, 79]  ['B', 'A', 'D', 'C', 'C']

Grade: Easy

In [7]:
def scores(lista):
    scores_output = []
    for x in lista:
        if x >= 90:
            scores_output.append("A")
        elif x >=80:
            scores_output.append("B")
        elif x >=70:   
            scores_output.append("C")
        else:
            scores_output.append("D")
    return(scores_output)
            
            
scores([85.5, 92, 45, 74, 79])

['B', 'A', 'D', 'C', 'C']

In [8]:
print(eb[19])

Create a function to grade bubble cards. The first input argument is list of
answers to be graded, and the second input argument is a list of correct
answers. The function compares these two lists, and returns the proportion
of answers to be correct. For example, if the inputs are ["A", "C", "B", "D",
"A", "D"] and ["A", "B", "C", "D", "D", "D"], then the output is 0.5 because
half of the values are the same in these two lists.

,Input1: list,Input2: list,Output: float
Test 1:,"['A', 'C', 'B', 'D', 'A', 'D']","['A', 'B', 'C', 'D', 'D', 'D']",0.5
Test 2:,"['A', 'B', 'C', 'D', 'D', 'D']","['A', 'B', 'C', 'D', 'D', 'D']",1.0

Bubble Card: Easy

In [4]:
#can do comparisons of lengths of two lists
#then go by indexing if it is the same length

def checkingo(x,y):
    if len(x) != len(y):
        print("lists are not the same, restart with correct/same length lists")
    else:
        correct = 0
        for z in range(0,len(x)):
            if x[z] == y[z]:
                correct = correct+1
        print(correct/len(x))        
        
        
checkingo(['A', 'B', 'C', 'D', 'D', 'D'],['A', 'B', 'C', 'D', 'D', 'D'] )

1.0

In [8]:
print(eb[20])

For a sequence of numbers in a list, create a new list containing the
squares of all non-negative numbers, and cubes of all negative numbers.
For example, if the input is [1, 2, 3, -4, -5, 6], then the output is
[1, 4, 9, -64, -125, 36]. As a practice, please use list comprehension.

                 Input1: list              Output: list
Test 1:  [1, 2, 3, -4, -5, 6]  [1, 4, 9, -64, -125, 36]

Squares And Cubes: Easy

In [11]:
def listoni(x):
    output=[]
    for z in x:
        if z>0:
            output.append(z*z)
        else:
            output.append(z*z*z)
            
    return(output)

listoni([1,2,3,-4,-5,6])

[1, 4, 9, -64, -125, 36]

In [12]:
def listoni(x):
    output=[]
    output = [z*z if z>0 else z*z*z for z in x]
    return(output)

listoni([1,2,3,-4,-5,6])

[1, 4, 9, -64, -125, 36]